<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mt-5" >
    <h2 style="margin-top: 150px">Your Shopping Cart</h2>
    <div th:if="${cart != null and #lists.size(cart.items) > 0}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.items}">
                <td th:text="${item.productSku.sku}"></td>
                <td th:text="${item.productSku.sizeAttribute.type+': '} + ${item.productSku.sizeAttribute.value}"></td>
                <td th:text="${item.productSku.price.doubleValue()}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.subtotal}"></td>
                <td>
                    <form th:action="@{/cart/remove}" method="post">
                        <input type="hidden" name="itemId" th:value="${item.id}"/>
                        <button class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-end" style="margin-top: 20px">
            <h4>Total: <span th:text="${cart.total}"></span></h4>
        </div>
        <div class="text-end mt-3" style="margin-top: 20px">
            <a class="btn btn-primary btn-lg" th:href="@{/order/checkout}">checkout</a>
        </div>

    </div>
    <div th:if="${cart == null or #lists.isEmpty(cart.items)}">
        <p>Your cart is empty.</p>
    </div>

    <div class="text-center mt-5" style="margin-top: 150px;">
        <h2>YOU MAY ALSO LIKE</h2>
    </div>
    <div id="product-list" class="row row-cols-1 row-cols-md-4 g-4 mt-4">
        <div class="col product-item" th:each="product, iterStat : ${products}"
             th:classappend="${iterStat.index > 3} ? 'd-none' : ''">
            <a th:href="@{'/product/' + ${product.id}}" class="text-decoration-none text-dark">
                <div class="card h-100 hover-effect">
                    <img th:src="@{${product.cover}}" class="card-img-top" alt="Product Image"
                         style="height: 300px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                        <p class="card-text text-success fw-bold"
                           th:each="sku : ${product.skus}"
                           th:text="${sku.price}+'$'"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<div class="position-fixed top-0 end-0 p-3" style="z-index: 9999" th:if="${toastNotification}" data-bs-delay="2000">
    <div id="toast" class="toast align-items-center border-0"
         role="alert" aria-live="assertive" aria-atomic="true"
         th:classappend="${#strings.contains(toastNotification, 'successfully')} ? 'text-bg-success' : 'text-bg-danger'">
        <div class="d-flex">
            <div class="toast-body" th:text="${toastNotification}">Toast message</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toastElement = document.getElementById('toast');
        if (toastElement) {
            const toast = new bootstrap.Toast(toastElement, {
                autohide: true,
                delay: 2000
            });
            toast.show();
        }
    });
</script>
</html>
